html, body {
    height: 100%;
    width: 100%;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/rocketBack2.jpg);
    background-size: 90%;
    background-position-x: -128%;
    background-position-y: 5%;
    height: 100vh;
    
}

.header {
    margin: 50px;
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__container {
    display: flex;
    margin-top: 60px;
    width: 329px;
    flex-wrap: wrap;
    opacity: 1%;
}

.linha {
    display: flex;
    margin: 0 auto;
}

.linha__bloco {
    width: 45px;
    height: 45px;
    border: 1px solid blue;
}

#pokeball_start{
    height: 200px;
    width: 200px;
    border: 13px solid #242633;
    border-radius: 50%;
    background-image: linear-gradient(
        #f51939 100px,
        white 100px
    );
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


#pokeball_start:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 200px;
        background-color: #242633;
        top: 95.5px;
}


#generateGame{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 13px double #242633;
    z-index: 2;
}

#generateGame:hover{
    color: white;
}

#bloco0-0:hover{
    cursor: pointer;
    background-color: #f5193ad2;
}
#bloco0-1:hover{
    cursor: pointer;
    background-color: #f5193ad2;
}
#bloco0-2:hover{
    cursor: pointer;
    background-color: #f5193ad2;
}
#bloco0-3:hover{
    cursor: pointer;
    background-color: #f5193ad2;
}
#bloco0-4:hover{
    cursor: pointer;
    background-color: #f5193ad2;
}
#bloco0-5:hover{
    cursor: pointer;
    background-color: #f5193ad2;
}
#bloco0-6:hover{
    cursor: pointer;
    background-color: #f5193ad2;
}
.blink_me {
    animation: blinker 2.5s linear;
  }
  
  @keyframes blinker {
    100% {
      opacity: 0;
    }
}