html, body {
    height: 100%;
    width: 100%;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/rocketBack.jpg);
}

.header {
    margin: 50px;
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__container {
    display: flex;
    margin-top: 60px;
    width: 700px;
    flex-wrap: wrap;
    opacity: 1%;
}

.linha {
    display: flex;
    margin: 0 auto;
}

.linha__bloco {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
}

#pokeball_start{
    height: 250px;
    width: 250px;
    border: 13px solid #242633;
    border-radius: 50%;
    background-image: linear-gradient(
        #f51939 125px,
        white 125px
    );
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokeball_start:before{
    position: absolute;
    content: "";
    height: 25px;
    width: 250px;
    background-color: #242633;
    top: 112.5px;
}

#generateGame{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 13px double #242633;
    z-index: 2;
}

#generateGame:hover{
    background-color: rgb(224, 153, 153);
    color: white;
    cursor: pointer;
    transition: .5s;
}

#generateGame:not(:hover) {
    transition: .5s;
}