@font-face {
    font-family: 'Free Pixel';
    src: url('/assets/fonts/FreePixel.ttf');
}

@font-face {
    font-family: 'Pokemon Hollow';
    src: url('/assets/fonts/PokemonHollow.ttf');
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-size: 16px;
    font-family: 'Free Pixel', Arial, Helvetica, sans-serif;
    /* background-color: #4f4f51; */
    background-color: #FFF;
    height: 640px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body__background {
    background-image: url(images/rocketBack2.jpg);
    background-size: 90%;
    background-position-x: -128%;
    background-position-y: 5%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 329px;
}

/* Estilização do Menu - Início */
.menu-game {
    font-family: 'Free Pixel', Arial, Helvetica, sans-serif;
    text-align: center;
}

.menu-game__title {
    font-size: 5rem;
    font-weight: 900;
}

.menu-game__img {
    width: 160px;
    font-family: 'Pokemon Hollow';
}

.menu-game__button-nest {
    display: flex;
    justify-content: space-between;
}

.menu__button {
    border: none;
    font-family: 'Free Pixel';
    padding: 5px;
}

.instructions__div {
    text-align: center;
}

.instructions__item {
    margin-bottom: 5px;
}
/* Estilização do Menu - Fim */

.linha {
    display: flex;
    margin: 0 auto;
}

.linha__bloco {
    width: 45px;
    height: 45px;
    border: 1px solid blue;
}

#pokeballStart {
    height: 200px;
    width: 200px;
    border: 13px solid #242633;
    border-radius: 50%;
    background-image: linear-gradient(
        #f51939 100px,
        white 100px
    );
    display: flex;
    justify-content: center;
    align-items: center;
    animation: float 1.5s infinite;
}


#pokeballStart:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 200px;
        background-color: #242633;
        top: 95.5px;
}

#generateGame{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 13px double #242633;
    z-index: 2;
    font-size: 1.5rem;
    font-weight: 900;
}



#generateGame:hover{
    color: white;
    transition: .5s;
    animation: blinking-show .5s infinite;
    cursor: pointer;
}

#generateGame:not(:hover) {
    transition: .5s;
    
}

#bloco0-0:hover{
    cursor: pointer;
    background-color: #f5193ad2;
}

#bloco0-1:hover{
    cursor: pointer;
    background-color: #f5193ad2;
}

#bloco0-2:hover{
    cursor: pointer;
    background-color: #f5193ad2;
}

#bloco0-3:hover{
    cursor: pointer;
    background-color: #f5193ad2;
}

#bloco0-4:hover{
    cursor: pointer;
    background-color: #f5193ad2;
}

#bloco0-5:hover{
    cursor: pointer;
    background-color: #f5193ad2;
}

#bloco0-6:hover{
    cursor: pointer;
    background-color: #f51939;
}

.blink_me {
    animation: blinker 2.5s linear;
}
  
  @keyframes blinker {
    100% {
      opacity: 0;
    }
}
    
@keyframes blinking-show {
    0% {
        background-color: rgb(224, 153, 153);
        color: #FFF;
    }

    50% {
        background-color: #FFF;
        color: #000;
    }

    100% {
        background-color: rgb(224, 153, 153);
        color: #FFF;
    }
}

@keyframes float {
    0% {
        transform: translateY(10px);
    }
    
    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes rising {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}